@media ( max-width: 1320px ) {
  .wrap{margin: 0 10px;}
  img {height:100%;}
  }
  @media ( max-width: 1020px ) {
    #clock{font-size: 80px;}
    .wrap #todo-form input::placeholder{font-size: 18px;}
  }
  @media ( max-width: 768px ) {
    .wrap{margin: 0 10px;}
    #clock{font-size: 60px;}
  }
  @media ( max-width: 589px ) {
    .wrap #todo-form input::placeholder{font-size:15px;}
    #clock{font-size: 40px;}
    #greeting {font-size: 25px;} 
    #quotes p {font-size: 12px; }
  }
  @media ( max-width: 450px ) {
    #clock {font-size: 30px; }
    #login-form input {width: 100%;}
    #weather {font-size: 10px; margin-top: 10px;}
    #greeting {font-size: 30px;}
    .note{width: 50%;}
    .todolist h3 {font-size: 8px;}
    #todo-list li span{font-size:12px;}
    #todo-form input::placeholder{ font-size:6px ;}
    #quotes p {font-size: 10px; }
    
  }
  @media ( max-width: 320px ) {
    
  }
  
  