@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Sansita+Swashed:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.hidden {
  display:none;
}

*{
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100vh;
  font-family: 'Baloo Tammudu 2', 'Noto Sans KR', sans-serif;
  display: contents;
  justify-content: center;
  padding: 0; 
  margin: 0;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}

img{
  position:absolute;
  height: auto;
  width: 100%;
  z-index:-2;
  left: 0px; 
  top: 0px; 
  right:0px; 
  bottom:0px; 
}

#clock{
  text-align: center;
  _height:125px;
  font-size:4rem;
  margin-top:65px;
  margin-bottom: 0;
  color:rgb(253, 71, 223); 
}

#weather{
  color:rgb(255, 255, 255);
  font-size:1.2rem;
  font-weight: 700;
  justify-content: center;
  text-align: center; 
}
  #weather:hover{
      color:rgb(229, 255, 0);
  }

.note{
  height: auto;
  width:50%;
  background-color: rgba(212, 255, 132, 0.3);
  text-align: center;
}

#login-form{
  text-align:center;
  color:rgb(241, 255, 111);
  margin: 40px 0;
}
  #login-form input:first-child{
      text-align: center;
      color:rgb(241, 255, 111);
      font-size:1rem;
      padding: 10px;
      width: 240px;
      background-color: rgba(255, 255, 255, 0.555);
      border:none;
      transition: all, 0.4s;
  }
      #login-form input:first-child:hover{
          background-color: rgba(255,255,255,0.555);
      }   
      #login-form input:hover::-webkit-input-placeholder{ /*placeholder color change*/
          color: rgb(50, 50, 50);
      }
      #login-form input:first-child:focus{
          outline:none;
          border-bottom: 1.5px solid white;
          background-color:rgba(0,0,0,0);
      }
  #login-form input:nth-child(2){
      margin-left:20px;
      width:100px;
      height:40px;
      border-radius: 30px;
      border:none;
      background-color:rgba(255,255,255,0.6);
      color: rgb(80,80,80);
      font-size:1rem;
      font-weight: 600;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
      outline: none;
      cursor: pointer;
      transition: all, 0.4s;
  }
  #login-form input:nth-child(2):hover{
      background-color:rgba(255,255,255,0.8)
  }
      #login-form input:nth-child(2):active{
          background-color:darkgray;
          color:white;
          outline: none;
      }



#greeting{
  margin-top: 60px;
  text-align: center;
  color: rgb(13, 1, 180);
  font-weight: 600;
  font-size:2.5rem;
  _font-family: 'Sansita Swashed';
  font-family: 'Great Vibes', cursive;
}
.todolist {
  height: auto;
  text-align: center;
  margin:30px 20px 30px 20px;
  padding-bottom: 15px;
  top: 10px;
  background-color:rgba(255, 255, 255, 0.726) ;
  border: 2px solid #ffff;
}
.todolist h3 {
  margin: 10px 0 15px 0;
  font-size: 1.25rem;
  color: rgb(13, 1, 180);
}
#todo-form{
  text-align: center;
  margin-top:0px;
  width: 100%;
}
#todo-form input{
  text-align: center;
  color:rgb(247, 24, 255);
  font-size:1rem;
  width: 100%;
  height:auto;
  background-color: rgb(247 132 255 / 33%);
  font-weight: 500;
  border:none;
  margin-bottom:10px;
  margin-top:10px;
  transition: all, 0.4s;
}
  #todo-form input:hover{
      background-color: rgba(255, 255, 255, 0.5);
  }
  #todo-form input::placeholder{ font-size:1rem ;}
  #todo-form input:hover::-webkit-input-placeholder{ /*placeholder color change*/
      color: rgb(22, 5, 255);
  }
  #todo-form input:focus{
      outline:none;
      border-bottom: 1px solid rgb(0, 0, 0);
      background-color:rgba(0,0,0,0);
  }
#todo-list{
  text-align: center;
}
  #todo-list li{
      word-wrap: break-word;
      white-space: normal;
      list-style: none;
      color:rgb(13, 1, 180);
      margin-top:40px;
      margin-bottom:50px;
      font-size:1rem;
      font-weight: 600 ;
      margin: 0 auto;
  }
  #todo-list li:hover{
      color:rgb(99, 100, 98);
  }
  #todo-list button{
      margin-left:10px;
      background-color:rgba(255,255,255,0);
      outline: none;
      color:white;
      font-weight: 800;
      width:30px;
      height:30px;
      border:none;
      font-size:1rem;
  }
  #todo-list button:hover{
      cursor: pointer;
  }

#quote {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight:400;
  font-family: 'EB Garamond', serif;
}
 #quote p{
  text-align: center; 
  width: 100%;
  }

